@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;0,900;1,100;1,400;1,600;1,900&display=swap');

* {
    user-select: none;
}

body {
    align-items: center;
    background: rgba(211, 190, 165, 0.74);
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 2em;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

tbody {
    text-align: center;
}

/*ROW*/
tr {
    border: 1px solid #ffffff40;
    height: 2em;
}

/*CELL*/
td {
    width: 12em;
}

/*HEADER*/
th {
    font-size: 1em;
    font-weight: 500;
}

td:nth-of-type(2n), th:nth-of-type(2n) {
    background: rgba(119, 106, 98, 0.5);
}

td:nth-of-type(2n+1), th:nth-of-type(2n+1) {
    background: rgba(57, 56, 55, 0.53);
}

.current-row {
    background: rgba(72, 71, 70, 0.43);
}

.game-ui {
    align-items: center;
    display: flex;
    gap: 4em;
}